{% extends 'base.html' %}
{% block content %}

<body>
    <p>글 제목 : {{post.title}}</p>
    <p>글쓴이 : {{user.profile.nickname}}</p>
    <p>지역 : {{user.profile.region}}</p>
    <p>글 내용</p>
    {{post.content|linebreaksbr}}
    <br>

    {%if post.pic%}
        <img src="{{post.pic.url}}"> 
    {%endif%}<br><br>
    
    <a href="/"><button>돌아가기</button></a>



    {%if request.user == post.user or request.user.is_staff %}

        <a href="{%url 'update' post.id%}"><button>수정</button></a>
        <a href="{%url 'delete' post.id%}"><button>삭제</button></a>

    {%endif%}
</body>
{% endblock %}